<%- include("header") %>

<div class="container rounded p-5">
  <h1 class="text-center">---- Analytics ----</h1>

  <div class="card m-2">
    <div class="card-body">
      <h3 class="card-title">Total Sale of Cafe</h3>
      <h4 class="card-subtitle mb-2 text-muted"><%= totalSale %></h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card m-2">
    <div class="card-body">
      <h3 class="card-title">Total Orders</h3>
      <h4 class="card-subtitle mb-2 text-muted"><%= totalOrders %></h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card m-2">
    <div class="card-body">
      <h3 class="card-title">Count of Customers</h3>
      <h4 class="card-subtitle mb-2 text-muted"><%= customerCount %></h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card m-2">
    <div class="card-body">
      <h3 class="card-title">Cost of Material</h3>
      <h4 class="card-subtitle mb-2 text-muted"><%= materialCost %></h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card m-2">
    <div class="card-body">
      <h3 class="card-title">Max Paying Customer</h3>
      <h4 class="card-subtitle mb-2 text-muted"><%= maxPayingCustomer%></h4>
      <p class="card-text"></p>
    </div>
  </div>
</div>

<div class="feedbackList container rounded p-5">
  <div class="h1">Feedback from Customers</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Feedback</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Naruto Uzumaki</th>
        <td>Great service! Loved the coffee.</td>
      </tr>
      <tr>
        <th scope="row">Monkey D. Luffy</th>
        <td>Amazing cafe! The coffee was perfect.</td>
      </tr>
      <tr>
        <th scope="row">Ichigo Kurosaki</th>
        <td>Good experience. Would visit again.</td>
      </tr>
      <tr>
        <th scope="row">Goku</th>
        <td>Best cafe ever! Loved the drinks.</td>
      </tr>
    </tbody>
  </table>
</div>

<%- include("footer") %>
